<div class="mt-4">
    <form method="POST">
        <div class="mb-3">
           <label for="searchInput" class="form-label">Nhập từ khóa</label>
            <input type="text" name="params" id="searchInput" class="form-control" placeholder="Nhập từ khóa...">
        </div>

        <div class="mb-3">
           <label for="searchInput" class="form-label">Nhập từ khóa</label>
            <select name="gender" id="genderInput" class="form-control">
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
                <option value="others">Khác</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>